body{
    display: grid;
    grid-template-columns: 1fr repeat(10, minmax(40px, auto)) 1fr;
    grid-template-rows: 1fr repeat(10, minmax(40px, auto)) 1fr;
    background-color: white;
    position: relative;
}

#board{
    position: relative;
    top: 12.5px;
    grid-column: 2/span 10;
    grid-row: 2/span 10;
    display: grid;
    grid-template-columns: repeat(8, minmax(auto, 75px));
    grid-template-rows: repeat(8, minmax(auto, 75px));
    border: 2px solid black;
}

.square{
    height: 75px;
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.allowed{
    background-color: #E8A392 !important ;
}

img{
    height: 100%;
    width: 100%;
    pointer-events: none;
}